div.view div.ajax-progress {
  background: rgba(0,0,0,0.3);
  -pie-background: rgba(0,0,0,0.3);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
}

div.view div.throbber {
  background: url("default.gif") no-repeat scroll 50% 50%;
  background-color: rgb(0,0,0);
  border-radius: 16px;
  height: 32px;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  padding: 10px;
  position: fixed;
  top: 50%;
  width: 32px;
  z-index: 9999;
}
